<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/profile2.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap"
    />
  </head>
  <body>
    <div class="div">
        <div class="inner">
          <div class="vector-parent">
            <img class="group-child" alt="" src="/vector-4@2x.png" />
  
            <div class="group-item"></div>
          </div>
        </div>
        <img class="child" alt="" src="/dp.jpg" />
  
        <div class="group-parent">
          <div class="agent-name-parent">
            <b class="agent-name" >AGENT NAME</b>
            <div class="avtive-listing" >Active Listing</div>
          </div>
          <div class="component-1">
            <div class="component-1-child"></div>
            <b class="property-guru">Property Guru</b>
          </div>
        </div>
        <div class="component-2-parent">
          <div class="component-2">
            <div class="component-1-child"></div>
            <b class="co">99co</b>
          </div>
          <div class="component-3">
            <div class="component-1-child"></div>
            <b class="edge-property">Edge Property</b>
          </div>
          <div class="component-4">
            <div class="component-1-child"></div>
            <b class="srx">SRX</b>
          </div>
        </div>
        <div class="group-container">
          <div class="group-div">
            <img class="group-inner" alt="" src="/group-29@2x.png" />
  
            <img class="group-icon" alt="" src="/group-28@2x.png" />
  
            <img class="group-child1" alt="" src="/group-27@2x.png" />
          </div>
          <img class="line-icon" alt="" src="/line-2@2x.png" />
  
          <img class="group-child2" alt="" src="/line-2@2x.png" />
        </div>
        <div class="call-us-parent">
          <b class="call-us">Call us</b>
          <div class="group-parent1">
            <div class="rectangle-parent">
              <div class="rectangle-div"></div>
              <b class="book-and-appointment">Book and Appointment</b>
            </div>
            <div class="rectangle-group">
              <div class="group-child3"></div>
              <b class="whatsapp">Whatsapp</b>
            </div>
          </div>
        </div>
        <div class="wrapper-rectangle-14">
          <img
            class="wrapper-rectangle-14-child"
            alt=""
            src="/rectangle-14@2x.png"
          />
        </div>
        <img class="image-11-icon" alt="" src="/image-11@2x.png" />
      </div>

    <script>
      var groupContainer3 = document.getElementById("groupContainer3");
      if (groupContainer3) {
        groupContainer3.addEventListener("click", function (e) {
          // Please sync "13" to the project
        });
      }
      
      var groupContainer9 = document.getElementById("groupContainer9");
      if (groupContainer9) {
        groupContainer9.addEventListener("click", function (e) {
          // Please sync "15" to the project
        });
      }
      
      var groupContainer11 = document.getElementById("groupContainer11");
      if (groupContainer11) {
        groupContainer11.addEventListener("click", function (e) {
          // Please sync "14" to the project
        });
      }
      
      var groupContainer12 = document.getElementById("groupContainer12");
      if (groupContainer12) {
        groupContainer12.addEventListener("click", function (e) {
          // Please sync "13" to the project
        });
      }
      
      var groupContainer13 = document.getElementById("groupContainer13");
      if (groupContainer13) {
        groupContainer13.addEventListener("click", function (e) {
          // Please sync "11" to the project
        });
      }
      </script>
  </body>
</html>
