<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/profile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap"
    />
  </head>
  <body>
    <div class="div">
      <div class="child"></div>
      <div class="group-parent">
        <div class="rectangle-parent">
          <div class="group-child"></div>
          <div class="group-item"></div>
        </div>
        <img class="group-inner" alt="" src="./group-47@2x.png" />
      </div>
      <div class="rectangle-group">
        <div class="rectangle-div">
          <img class="polygon-icon" alt="" src="./dp.jpg" />
        </div>
      </div>
      <div class="item"></div>
      <b class="agent-name">AGENT NAME</b>
      <div class="my-active-listings">My active listings</div>
      <div class="digital-profile">Digital Profile</div>
      <div class="free-tools">FREE Tools</div>
      <div class="component-2">
        <div class="component-2-child"></div>
        <a
          class="co"
          href="https://www.99.co/singapore/agents/R064602H-jason-tan"
          target="_blank"
          >99.co</a
        >
      </div>
      <div class="component-3">
        <div class="component-2-child"></div>
        <a
          class="edge-property"
          href="https://www.edgeprop.sg/property-agents/Jason-Tan-98522623"
          target="_blank"
          >Edge Property</a
        >
      </div>
      <div class="component-4">
        <div class="component-2-child"></div>
        <a class="srx" href="https://www.srx.com.sg/jasontan" target="_blank"
          >SRX</a
        >
      </div>
      <div class="call-us-parent">
        <b class="call-us">Call us</b>
        <div class="group-container">
          <div class="rectangle-container" id="groupContainer3">
            <div class="group-child1"></div>
            <b class="book-and-appointment">Book and Appointment</b>
          </div>
          <div class="group-div">
            <div class="group-child2"></div>
            <b class="whatsapp">Whatsapp</b>
          </div>
        </div>
      </div>
      <div class="inner"></div>
      <img class="vector-icon" alt="" src="./vector-6@2x.png" />

      <div class="component-1-wrapper">
        <div class="component-1">
          <div class="component-2-child"></div>
          <a
            class="property-guru"
            href="https://www.propertyguru.com.sg/agent/jason-tan-%E9%99%88%E6%98%A5%E5%84%84-4616"
            target="_blank"
            >Property Guru
          </a>
        </div>
      </div>
      <div class="component-1-container">
        <div class="component-1">
          <div class="component-2-child"></div>
          <a class="property-guru1" href="https://jasontan.sg/" target="_blank"
            >About Jason</a
          >
        </div>
      </div>
      <div class="component-1-frame" id="groupContainer9">
        <div class="component-1">
          <div class="component-2-child"></div>
          <b class="property-guru2">Free Valuation Form</b>
        </div>
      </div>
      <div class="component-1-wrapper1">
        <div class="component-1">
          <div class="component-2-child"></div>
          <a class="property-guru3" href="https://jasontan.sg/" target="_blank"
            >My Personal site</a
          >
        </div>
      </div>
      <div class="component-1-wrapper2" id="groupContainer11">
        <div class="component-1">
          <div class="component-2-child"></div>
          <b class="property-guru2">Mortgage calculator</b>
        </div>
      </div>
      <div class="component-1-wrapper3" id="groupContainer12">
        <div class="component-1">
          <div class="component-2-child"></div>
          <b class="property-guru5">Book an Appointment </b>
        </div>
      </div>
      <div class="component-1-wrapper4" id="groupContainer13">
        <div class="component-1">
          <div class="component-2-child"></div>
          <b class="property-guru6">Lead form</b>
        </div>
      </div>
      <div class="component-1-wrapper5">
        <div class="component-1">
          <div class="component-2-child"></div>
          <b class="property-guru7">My Awards</b>
        </div>
      </div>
      <img class="group-icon" alt="" src="./group-79@2x.png" />

      
      <div class="my-reviews">My Reviews</div>
      <!-- <img class="image-13-icon" alt="" src="./image-13@2x.png" /> -->
      <style>
        .profile-card {
          position: absolute;
          bottom: 312px;
          left: 50%;
          background-color: #ffffff;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
          width: 60%;
          padding: 20px;
          margin: 20px;
          font-family: 'Arial', sans-serif;
          translate: -55%;
          box-shadow: 1px -1px 13px 0px rgba(0,0,0,0.26);

        }
        .profile-photo-container {
          display: flex;
          align-items: center;
          justify-content: center;
          
        }
        .profile-photo {
          border-radius: 50%;
          width: 80px;
          height: 80px;
          object-fit: cover;
          border: 3px solid #000;
        }
        .profile-name {
          font-size: 18px;
          font-weight: bold;
          margin: 0;
        }
        .profile-title {
          font-size: 14px;
          color: #555;
          margin: 0;
        }
        .profile-quote {
          font-size: 14px;
          color: #333;
          margin-top: 15px;
        }
      </style>
     <div class="profile-card">
      <div class="profile-photo-container">
        <img src="/dp.jpg" alt="Jackson Totham" class="profile-photo">
      </div>
      <h2 class="profile-name">Jackson Totham</h2>
      <p class="profile-title">CEO of Redbull</p>
      <p class="profile-quote">
        I really enjoyed working with them, they are Group of professionals and they know what they're Doing
      </p>
    </div>
    </div>

    <script>
      var groupContainer3 = document.getElementById("groupContainer3");
      if (groupContainer3) {
        groupContainer3.addEventListener("click", function (e) {
          // Please sync "13" to the project
        });
      }
      
      var groupContainer9 = document.getElementById("groupContainer9");
      if (groupContainer9) {
        groupContainer9.addEventListener("click", function (e) {
          // Please sync "15" to the project
        });
      }
      
      var groupContainer11 = document.getElementById("groupContainer11");
      if (groupContainer11) {
        groupContainer11.addEventListener("click", function (e) {
          // Please sync "14" to the project
        });
      }
      
      var groupContainer12 = document.getElementById("groupContainer12");
      if (groupContainer12) {
        groupContainer12.addEventListener("click", function (e) {
          // Please sync "13" to the project
        });
      }
      
      var groupContainer13 = document.getElementById("groupContainer13");
      if (groupContainer13) {
        groupContainer13.addEventListener("click", function (e) {
          // Please sync "11" to the project
        });
      }
      </script>
  </body>
</html>
