<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=galleryname%></title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/lightgallery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/css/lightgallery-bundle.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/zoom/lg-zoom.min.js" integrity="sha512-BLW2Jrofiqm6m7JhkQDIh2olT0EBI58+hIL/AXWvo8gOXKmsNlU6myJyEkTy6rOAAZjn0032FRk8sl9RgXPYIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/thumbnail/lg-thumbnail.min.js" integrity="sha512-VBbe8aA3uiK90EUKJnZ4iEs0lKXRhzaAXL8CIHWYReUwULzxkOSxlNixn41OLdX0R1KNP23/s76YPyeRhE6P+Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<style>
    .heading_gallery{
        font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
        margin-bottom: 80px;
        color: #6f6f6f;
        text-align: center;
    }
    body{
        background-color: #ffffff;
    }
    .inline-gallery-container{
        width: 100%;
        margin: auto;
    }
</style>
<body>
    




<script>
    const profile_id = `<%=id%>`
    const galleryname = `<%=galleryname%>`
    start();
    async function start(params) {
        const data = await fetchgalleryImages();
        if(data.length == 0){
            return;
        }
        document.getElementsByTagName("body")[0].innerHTML += `<div id="animated-thumbnails-gallery" class="inline-gallery-container">
            
            </div>`
        const container = document.getElementById("animated-thumbnails-gallery");
        container.innerHTML = "";
        container.innerHTML =  `<h1 class="heading_gallery">${galleryname}</h1>`
        data.forEach(elem=>{
            container.innerHTML += `<a href="/uploads/${profile_id}/gallery/${galleryname}/${elem}">
                    <img style="border-radius:20px; object-fit: cover; height:350px" src="/uploads/${profile_id}/gallery/${galleryname}/${elem}" />
                </a>`
        })


        lightGallery(document.getElementById('animated-thumbnails-gallery'), {
            thumbnail: true,
        });
    }

    async function fetchgalleryImages(){
        try {
            const res = await fetch(`/api/get/gallery/${profile_id}/${galleryname}`);
            const data = await res.json();
            return data.images;
        } catch (error) {
            console.log(error.message);
            return []
            
        }
    }
    
</script>
</body>
</html>