<style>
    .form-container {
      background-color: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      max-width: 600px;
      width: 100%;
      /* position: absolute; */
      /* top: 100px; */
      overflow-y: auto;
      height: 93vh
    }
  
    .question-group {
      margin-bottom: 20px;
      padding: 15px;
      background-color: #dad7d7;
      border-radius: 5px;
      width: fit-content;
      margin-top: 5px;
    }
    .question-group button{
      margin-top: 5px;
    }
  
    .options-container {
      margin-top: 10px;
    }
  
    .option {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      flex-wrap: wrap;
    }
  
    .option input {
      margin-right: 10px;
    }
  
    .add-option-button,
    .delete-question-button,
    .delete-option-button {
      background-color: #3498db;
      border: none;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
    }
  
    .add-option-button:hover,
    .delete-question-button:hover,
    .delete-option-button:hover {
      background-color: #2980b9;
    } 
    .submit-button {
      background-color: #2ecc71;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    textarea{
      padding: 5px;
    }
    .submit-button:hover {
      background-color: #27ae60;
    }
    @media screen and (max-width:550px) {
      .question-group button{
      padding: 5px 10px;
    }
    .question-group input{
      width: 100%;
    }
    }
  </style>
  <div id="Insurance_form" class="close_popup" style="position: fixed; height: 89vh; border-radius: 20px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);z-index: 999; width: 600px;" >
      <div class="form-container">
        
        <h4> Insurance Form</h4>
        <p id="clientId_Insurance" hidden></p>
        <p id="fetch_url" hidden></p>
        <form id="dynamic-form">
          <div
          style="text-align: center; margin-bottom: 5px; padding: 10px; border-radius: 5px;">
          <span onclick="closeAllPopups()" id="close_popup_btn" ><i class="fa-solid fa-x"></i></span>
            <p>QUESTIONS</p>
            <div id="questionContainer">
            <%for(let i = 0; i < 0; i++){%>
            <div class="question-group-insurance">
              <input type="text" value="" class="border mt-1 border-3 p-2 form-control"
                name="question[]" placeholder="Question"
                class="question">
              <button type="button" class="add-option-button">Add Option</button>
              <button type="button" class="delete-question-button">Delete Question</button>
              <div class="options-container">
                <%for(let j = 0; j < 0;
                j++){%>
                <div class="option">
                  <input type="text" class="border mt-1 border-3 p-2 form-control options"
                    value=""
                    name="option[]" placeholder="Option">
                  <button type="button" class="delete-option-button">Delete option</button>
                </div>
                <% } %>
              </div>
            </div>
            <% } %>
            </div>
            <button style="display: block;" type="button" id="add-question-insurance"
              class="add-option-button">Add
              Question</button>
              Discord Links
              <div id="discord_insurance_field" style="text-align: start;">
                  <div class="discord-input-container-insurance" >
                      <input type="text" class="discord-insurance-input" name="dslink[]">
                      <button type="button" class="my-1 add-discord-input" onclick="addDiscordinsurance()">Add Discord Link</button>
                  </div>
                  </div>
              Name
              <input type="text" class="border mt-1 border-3 p-2 form-control"
              id="insurance_name" placeholder="Enter Name">

              Form Image
              <input type="text" class="border mt-1 border-3 p-2 form-control"
              id="bg_img_insurance" placeholder="Enter Form Image url "
              >
            Last Page
            <input type="text" class="border mt-1 border-3 p-2 form-control"
              id="last_heading_insurance"
              placeholder="Thank you page heading"
             >
            <input type="text" class="border mt-1 border-3 p-2 form-control"
              id="last_subheading_insurance" placeholder="Thank you page sub heading"
              >
            <input class="border border-3 mt-1 p-2 form-control"
              placeholder="Button text" id="last_btn_text_insurance"
              >
              <input class="border border-3 mt-1 p-2 form-control"
              placeholder="Button Link" id="last_btn_link_insurance"
             >
            <input type="text" class="border mt-1 border-3 p-2 form-control"
              id="bg_insurance" placeholder="Enter Thankyou Page Image url "
              >
          </div>
  
          <button type="submit" id="btn-submit-insurance" class="submit-button">Submit</button>
        </form>
      </div>
  
      <link rel="stylesheet" href="/css/form.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
        rel="stylesheet">
      <style>
        .error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  .inner-design {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 20px 0 #0000001f;
      padding: 40px 25px;
      margin-bottom: 30px;
  }
  .logo img {
      width: 20%;
      background-color: #fff;
      box-shadow: 0 0 20px 0 #0000001f;
      border-radius: 100px;
      padding: 8px;
      margin-top: -100px;
  }
  .heading{
    font-size: 20px; font-weight: 600;
  }
  #regForm {
    /* background-color: #ffffff; */
    margin: auto;
    padding: 20px;
    max-width: 550px;
    margin-top: 40px;
  }
  .tab {
    display: block;
  }
  @media (max-width: 1000px) {
          .preview{
              display: none;
          }
        }
      </style>
      <script>
          function addDiscordinsurance() {
          let inputContainer = document.getElementById('discord_insurance_field');
          let newInput = document.createElement('div');
              newInput.innerHTML ='<div class="discord-input-container-insurance">' +
                                  '    <input type="text" class="discord-insurance-input" name="dslink[]">' +
                                  '    <button type="button" class="my-1 remove-discord-input" onclick="removeDiscordInsurance(this)">Remove</button>' +
                                  '</div>';
            inputContainer.insertBefore(newInput, inputContainer.firstChild);
          }
  
          function removeDiscordInsurance(element) {
              let containerToRemove = element.parentNode.parentNode;
              containerToRemove.parentNode.removeChild(containerToRemove);
          }
      </script>
      <script>
            document.addEventListener("DOMContentLoaded", function() {
              const addQuestionButton = document.getElementById("add-question-insurance");
              const formContainer = document.getElementById("dynamic-form");
  
              function attachEventListeners(questionGroup) {
                const addOptionButton = questionGroup.querySelector(".add-option-button");
                const deleteQuestionButton = questionGroup.querySelector(".delete-question-button");
                
                addOptionButton.addEventListener("click", function() {
                  const optionsContainer = questionGroup.querySelector(".options-container");
                  const optionDiv = document.createElement("div");
                  optionDiv.classList.add("option");
                  optionDiv.innerHTML = `
                  <input type="text" class="options" name="option[]" placeholder="Option">
                  <button type="button" class="delete-option-button">Delete option</button>
                  `;
                  optionsContainer.appendChild(optionDiv);
                  attachDeleteOptionButton(optionDiv);
                });
            
                deleteQuestionButton.addEventListener("click", function() {
                  questionGroup.remove();
                });
              }
            
              function attachDeleteOptionButton(optionDiv) {
                const deleteOptionButton = optionDiv.querySelector(".delete-option-button");
                deleteOptionButton.addEventListener("click", function() {
                  optionDiv.remove();
                });
              }
  
  
              //##############Attaching preexistig questions the listner#################
              const existingQuestionGroups = document.querySelectorAll(".question-group");
                      existingQuestionGroups.forEach(function(questionGroup) {
                        attachEventListeners(questionGroup);
  
                  // Attach event listeners to existing options within this question group
                  const existingOptions = questionGroup.querySelectorAll(".options-container .option");
                      existingOptions.forEach(function(optionDiv) {
                        attachDeleteOptionButton(optionDiv);
                    });
                });
  
  
            
              addQuestionButton.addEventListener("click", function() {
                const questionGroup = document.createElement("div");
                questionGroup.classList.add("question-group-insurance");
                questionGroup.innerHTML = `
                  <input type="text" name="question[]" placeholder="Question" class="question">
                  <button type="button" class="my-1 add-option-button">Add Option</button>
                  <button type="button" class="my-1 delete-question-button">Delete Question</button>
                  <div class="options-container">
                    <div class="option">
                      <input type="text" name="option[]" placeholder="Option" class="options">
                      <button type="button" class="my-1 delete-option-button">Delete option</button>
                    </div>
                  </div>
                `;
                addQuestionButton.parentNode.insertBefore(questionGroup, addQuestionButton);
                attachEventListeners(questionGroup);
                const optionDiv = questionGroup.querySelector(".options-container .option");
                attachDeleteOptionButton(optionDiv);
                  
              });
        
              
              document.getElementById('btn-submit-insurance').addEventListener('click', async function(event) {
              event.preventDefault();
              const name = document.getElementById('insurance_name').value;
              const dslink = [];

              const discordInputs = document.querySelectorAll('.discord-insurance-input');

              discordInputs.forEach(function(input) {
                dslink.push(input.value);
              });
              
              let formData = {
                dslink_insurance:dslink,
                name:name,
                questions: [],
                lastPage: {
                  bg_img: document.getElementById('bg_img_insurance').value,
                  last_heading: document.getElementById('last_heading_insurance').value,
                  last_subheading: document.getElementById('last_subheading_insurance').value,
                  last_btn_text: document.getElementById('last_btn_text_insurance').value,
                  last_btn_link: document.getElementById('last_btn_link_insurance').value,
                  bg:document.getElementById("bg_insurance").value
                }
              };
              
            let questionGroups = document.querySelectorAll('.question-group-insurance');
  
            questionGroups.forEach(function(group) {
              let question = group.querySelector('.question').value;
              let options = Array.from(group.querySelectorAll('.options')).map(function(option) {
                return option.value;
              });
  
              formData.questions.push({ question: question, options: options });
            });
            const clientId = document.getElementById('clientId_Insurance').value;
            showLoadingOverlay();
            const url =  document.getElementById('fetch_url').innerText;
              const res = await fetch(`${url}`, {
              method:"POST",
              body:JSON.stringify({
                formData:formData
              }),
              headers:{
                "Content-type": "application/json; charset=UTF-8"
              }
            })

            const data = await res.json();
            window.location.assign(`/clients`);
          });
            });
            function showLoadingOverlay() {
              const overlay = document.querySelector('.overlay_loading');
              overlay.style.display = 'block';
            }
  
            </script>        
    </div>