<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Required meta tags -->

        <meta charset="utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title></title>

        <link rel="shortcut icon" href="assets/images/favicon.png" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Bootstrap CSS -->

        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous" />

        <!-- Font Awesome CDN -->

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous" />

        <!-- Animate CDN -->

        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

        <!-- Custom Stylesheet -->

        <link rel="stylesheet" href="/css/hbd.css" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Jquery CDN -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
            integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
        <meta http-equiv="cache-control" content="max-age=3600, must-revalidate">
        <style>
        
        .manual-error {
            color: red !important;
            position: absolute;
            top: 80%; /* Position the label just below the input field */
            left: 10; /
        }
        ::-webkit-scrollbar {
        width: 5px;
        }

         /* Track */
        ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: red; 
        border-radius: 10px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #d61d1d; 
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
            display: none; /* Initially hidden */
            z-index: 9999; /* Ensures it's on top of other content */
        }
        
        .loader {
            border: 4px solid rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            border-top: 4px solid #3498db;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10000; /* Ensure the loader is above the overlay */
        }
        
        @keyframes spin {
            0% { transform: translate(-50%, -50%) rotate(0deg); }
            100% { transform: translate(-50%, -50%) rotate(360deg); }
        }
        .disabled-button {
            pointer-events: none; /* Disable click events */
            background-color: #ccc; /* Change the background color to indicate it's disabled */
            color: #999; /* Change the text color to a lighter shade */
            cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
        }
    </style>
    </head>
    <div class="modal-overlay"></div>
    <div class="overlay">
        <div class="loader"></div>
    </div>
    <body class="main_scroll">
        <p id="client_id" hidden><%=id%></p>
        <p id="form_id" hidden><%=form_id%></p>
        <p id="lead_id" hidden></p>
        <header style="height: 85px;">
            <div class="container-fluid">
                <header class="main_header" style="background: none">
                    <!---->
                    <div class="header_cont">
                        
                        <div class="header_left_cont"><!----><!----></div>
                    </div>
                </header>
            </div>
        </header>
        <main>
            <section>
                <!--################ OTP Container Start #################-->
                <style>
                .hidden {
                    display: none;
                }
                .otpPopup {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #ffffff;
                    border: 1px solid #ccc;
                    padding: 20px;
                    z-index: 999;
                    display: flex;
                    flex-direction: column;
                    border-radius: 16px;
                }
                .modal-overlay {
                    display: none;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
                    z-index: 1;
                }
                </style>

                <div style="width: max-content;" id="otpPopup" class="hidden">
                    <span style="color: rgb(21, 131, 21);"></span>
                    <label for="otp">Enter OTP: <span id="otp_error"
                            style="color: #E25656;"></span></label>
                    <input class="form-control" type="number" id="otp" oninput="if(this.value.length > 6) this.value = this.value.slice(0, 8);"
                        placeholder="Enter OTP" required>
                    <div class="d-flex mt-3">
                        <button
                        style="background-color: #E25656; font-weight: 600; margin-top: 5px;"
                        onclick="verifyOTP()"
                        class="btn btn-danger w-30 mx-auto" id="verifyOTP">Submit</button>
                    <button style="font-weight: 600;" class="w-30 mx-auto btn btn-secondary mt-1"
                        onclick="hideModal()" type="button">Cancel</button>
                    </div>
                </div>
                <!--################ OTP Container End #################-->

                <div class="container-fluid py-2">
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <div class="row justify-content-center">
                                <div class="col-md-10 pb_100 main_form_card">
                                    <div class="form_div">
                                        <div>
                                            <div class="form-row">
                                                <style>
                                                    .dropdown {
                                                      display: none;
                                                    }
                                                    
                                                    .active-button {
                                                      background-color: #ffffff; /* Change this to your desired highlight color */
                                                      color: rgb(0, 0, 0);
                                                    }
                                                  </style>
                                                <div
                                                    class="form-group col-md-12">
                                                    <p
                                                        class="main_label">
                                                        Filter Based on Project
                                                        OR
                                                        Location<span
                                                            class="red">*</span>
                                                    </p>
                                                    <div class="text-center"
                                                        style="display: flex;">
                                                        <div class="radio m">
                                                            <input
                                                                id="radio-project"
                                                                name="x"
                                                                class="gridCheck project_radio"
                                                                required
                                                                type="radio"
                                                                value />

                                                            <label
                                                                for="radio-project"
                                                                class="radio-label px-3">
                                                                Project
                                                            </label>
                                                        </div>
                                                        <div class="radio mx-2">
                                                            <input
                                                                id="radio-location"
                                                                name="x"
                                                                class="gridCheck location_radio"
                                                                required
                                                                type="radio"
                                                                value />

                                                            <label
                                                                for="radio-location"
                                                                class="radio-label px-3">
                                                                Location
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div id="locationDropdown"
                                                        class="dropdown">
                                                        <select placeholder="Choose Location"
                                                            id="select-country"
                                                            name="select-country">
                                                            <option value
                                                            disabled
                                                            selected>Choose
                                                            Location</option>
                                                        </select>
                                                        <hr>
                                                        <select
                                                        placeholder="Choose Project"
                                                            id="select-project-inlocation"
                                                            name="select-project-inlocation">
                                                            <option value
                                                                disabled
                                                                selected>Choose
                                                                Project</option>
                                                        </select>
                                                    </div>
                                                    <div id="projectDropdown"
                                                        class="dropdown">
                                                        <select
                                                        placeholder="Choose Project"
                                                            id="select-project"
                                                            name="select-project">
                                                            <option value
                                                                disabled
                                                                selected>Choose
                                                                Project</option>
                                                        </select>
                                                    </div>
                                                    <label style="top: 100%;"
                                                        id="select-country-selectized-error"
                                                        class="error manual-error"
                                                        for="select-country-selectized"></label>

                                                </div>
                                            </div>

                                            <p class="main_label mb-1 mt-3">
                                                Share your budget preferences,
                                                and we'll curate a selection of
                                                projects that align with your
                                                financial goals.<span
                                                    class="red">*</span>
                                            </p>
                                            <label id="radio-error"
                                                class="error manual-error"
                                                for="radio"></label>
                                            <div class="form radio_div">
                                                <div
                                                    class="form-group ">
                                                    <div class="form">
                                                        <div
                                                            class="form-group  mb-0">
                                                            <div class="radio">
                                                                <input
                                                                    id="radio-1"
                                                                    name="Share your budget preferences, and we'll curate a selection of projects that align with your financial goals."
                                                                    class="gridCheck"
                                                                    required
                                                                    type="radio"
                                                                    value="1.2million - 1.5million" />

                                                                <label
                                                                    for="radio-1"
                                                                    class="radio-label">
                                                                    1.2 million
                                                                    - 1.5
                                                                    million
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div
                                                            class="form-group  mb-0">
                                                            <div class="radio">
                                                                <input
                                                                    id="radio-2"
                                                                    name="Share your budget preferences, and we'll curate a selection of projects that align with your financial goals."
                                                                    class="gridCheck"
                                                                    type="radio"
                                                                    value="1.5million - 2million" />

                                                                <label
                                                                    for="radio-2"
                                                                    class="radio-label">1.5
                                                                    million - 2
                                                                    million</label>
                                                            </div>
                                                        </div>

                                                        <div
                                                            class="form-group mb-0">
                                                            <div class="radio">
                                                                <input
                                                                    id="radio-3"
                                                                    name="Share your budget preferences, and we'll curate a selection of projects that align with your financial goals."
                                                                    class="gridCheck"
                                                                    type="radio"
                                                                    value="2million -2.5million" />

                                                                <label
                                                                    for="radio-3"
                                                                    class="radio-label">2
                                                                    million -2.5
                                                                    million</label>
                                                            </div>
                                                        </div>

                                                        <div
                                                            class="form-group mb-0">
                                                            <div class="radio">
                                                                <input
                                                                    id="radio-4"
                                                                    name="Share your budget preferences, and we'll curate a selection of projects that align with your financial goals."
                                                                    class="gridCheck"
                                                                    type="radio"
                                                                    value="3million above" />

                                                                <label
                                                                    for="radio-4"
                                                                    class="radio-label">3
                                                                    million
                                                                    above</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <p class="main_label mb-1 mt-3">
                                                Are
                                                you holding on to a property at
                                                the moment?<span class="red">*</span>
                                            </p>
                                            <label id="radio-error"
                                                class="error manual-error"
                                                for="radio"></label>
                                            <div class="form">
                                                <div
                                                    class="form-group ">
                                                    <div
                                                        class="form radio_div">
                                                        <div
                                                            class="form mb-0">
                                                            <div class="radio">
                                                                <input
                                                                    id="radio-2-1"
                                                                    name="Are you holding on to a property at the moment?"
                                                                    class="gridCheck"
                                                                    required
                                                                    type="radio"
                                                                    value="HDB" />

                                                                <label
                                                                    for="radio-2-1"
                                                                    class="radio-label">
                                                                    Private Property
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div
                                                            class="form-group mb-0">
                                                            <div class="radio">
                                                                <input
                                                                    id="radio-2-2"
                                                                    name="Are you holding on to a property at the moment?"
                                                                    class="gridCheck"
                                                                    type="radio"
                                                                    value="Condo" />

                                                                <label
                                                                    for="radio-2-2"
                                                                    class="radio-label">HDB, Yes intent to sell</label>
                                                            </div>
                                                        </div>

                                                        <div
                                                            class="form-group mb-0">
                                                            <div class="radio">
                                                                <input
                                                                    id="radio-2-3"
                                                                    name="Are you holding on to a property at the moment?"
                                                                    class="gridCheck"
                                                                    type="radio"
                                                                    value="Landed" />

                                                                <label
                                                                    for="radio-2-3"
                                                                    class="radio-label">
                                                                    Looking for 2nd investment property</label>
                                                            </div>
                                                        </div>

                                                        <div
                                                            class="form-group mb-0">
                                                            <div class="radio">
                                                                <input
                                                                    id="radio-2-4"
                                                                    name="Are you holding on to a property at the moment?"
                                                                    class="gridCheck"
                                                                    type="radio"
                                                                    value="None, i'm a first timer" />

                                                                <label
                                                                    for="radio-2-4"
                                                                    class="radio-label">None, i'm a first timer</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <p class="main_label mb-1 mt-3">
                                                Choose the details you wish to receive, We will send you the latest updates via developer's portal.
                                                <span class="red">*</span>
                                            </p>
                                            <label id="radio-error"
                                                class="error manual-error"
                                                for="radio"></label>

                                            <div class="form">
                                                <div
                                                    class="form mb-0">
                                                    <div class="checkbox">
                                                        <input id="checkbox-1"
                                                            name="checkbox[]"
                                                            class="gridCheck"
                                                            type="checkbox"
                                                            value="Balance" />
                                                        <label for="checkbox-1"
                                                            class="checkbox-label">Balance</label>
                                                    </div>
                                                </div>

                                                <div
                                                    class="form mb-0">
                                                    <div class="checkbox">
                                                        <input id="checkbox-2"
                                                            name="checkbox[]"
                                                            class="gridCheck"
                                                            type="checkbox"
                                                            value="Price list & discounted units" />
                                                        <label for="checkbox-2"
                                                            class="checkbox-label">Price
                                                            list & discounted
                                                            units</label>
                                                    </div>
                                                </div>

                                                <div
                                                    class="form mb-0">
                                                    <div class="checkbox">
                                                        <input id="checkbox-3"
                                                            name="checkbox[]"
                                                            class="gridCheck"
                                                            type="checkbox"
                                                            value="E-brochure & other marketing materials" />
                                                        <label for="checkbox-3"
                                                            class="checkbox-label">E-brochure
                                                            & other marketing
                                                            materials</label>
                                                    </div>
                                                </div>
                                                <div
                                                    class="form mb-0">
                                                    <div class="checkbox">
                                                        <input id="checkbox-4"
                                                            name="checkbox[]"
                                                            class="gridCheck"
                                                            type="checkbox"
                                                            value="Book An Appointment" />
                                                        <label for="checkbox-4"
                                                            class="checkbox-label">Book
                                                            An Appointment</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <p class="main_label mb-1 mt-3">
                                                How
                                                soon will you likely be making
                                                the purchase?<span class="red">*</span>
                                            </p>
                                            <label id="sell-error"
                                                class="error manual-error"
                                                for="sell"></label>
                                            <div class="form">
                                                <div
                                                    class="form">
                                                    <div
                                                        class="form radio_div">
                                                        <div
                                                            class="form-group mb-0">
                                                            <div class="radio">
                                                                <input
                                                                    id="sell-1"
                                                                    name="How soon will you likely be making the purchase?"
                                                                    class="sellCheck"
                                                                    type="radio"
                                                                    required
                                                                    value="1 - 3 months" />

                                                                <label
                                                                    for="sell-1"
                                                                    class="radio-label">
                                                                    <span> 1 - 3
                                                                        months
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div
                                                            class="form-group mb-0">
                                                            <div class="radio">
                                                                <input
                                                                    id="sell-2"
                                                                    name="How soon will you likely be making the purchase?"
                                                                    class="sellCheck"
                                                                    type="radio"
                                                                    value="3 - 6 months" />

                                                                <label
                                                                    for="sell-2"
                                                                    class="radio-label">-
                                                                    3 - 6 months
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div
                                                            class="form-group mb-0">
                                                            <div class="radio">
                                                                <input
                                                                    id="sell-3"
                                                                    name="How soon will you likely be making the purchase?"
                                                                    class="sellCheck"
                                                                    type="radio"
                                                                    value="6 - 9 months" />

                                                                <label
                                                                    for="sell-3"
                                                                    class="radio-label">-
                                                                    6 - 9 months</label>
                                                            </div>
                                                        </div>

                                                        <div
                                                            class="form-group mb-0">
                                                            <div class="radio">
                                                                <input
                                                                    id="sell-4"
                                                                    name="How soon will you likely be making the purchase?"
                                                                    class="sellCheck"
                                                                    type="radio"
                                                                    value="9 -12 months" />

                                                                <label
                                                                    for="sell-4"
                                                                    class="radio-label">-
                                                                    9 -12 months</label>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="form-group mb-0">
                                                            <div class="radio">
                                                                <input
                                                                    id="sell-5"
                                                                    name="How soon will you likely be making the purchase?"
                                                                    class="sellCheck"
                                                                    type="radio"
                                                                    value="Not sure, keeping my options open for good deals" />

                                                                <label
                                                                    for="sell-5"
                                                                    class="radio-label">-
                                                                    Not sure,
                                                                    keeping my
                                                                    options open
                                                                    for good
                                                                    deals</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="main_label mb-3 mt-3">
                                                    Please provide the accurate
                                                    information to access our
                                                    live database as per your
                                                    request:
                                                    <span class="red">*</span>
                                                </p>

                                                <div class="form-row info_form">
                                                    <div class="form-group-item">
                                                        <label class="label"
                                                            for="firstname">My
                                                            Name
                                                            is<small>:</small>

                                                            <span>*</span>
                                                        </label>

                                                        <input id="firstname"
                                                            name="firstname"
                                                            class="firstname"
                                                            type="text"
                                                            required />

                                                        <i class="fa fa-user"></i>
                                                        <label
                                                            id="firstname_error"
                                                            class="error manual-error"
                                                            for="firstname"
                                                            style="font-weight: 400 !important"></label>
                                                    </div>

                                                    <div class="form-group-item">
                                                        <label class="label"
                                                            for="firstname">Phone
                                                            Number<small>:</small>

                                                            <span>*</span>
                                                        </label>

                                                        <input id="ph_number"
                                                            type="number"
                                                            class="number"
                                                            maxlength="8"
                                                            pattern="\d{1,8}"
                                                            name="ph_number"
                                                            oninput="if(this.value.length > 8) this.value = this.value.slice(0, 8);"
                                                            required
                                                            placeholder="+65" />

                                                        <i
                                                            class="fa fa-phone-alt"></i>
                                                        <label
                                                            id="ph_number_error"
                                                            class="error manual-error"
                                                            for="ph_number"
                                                            style="font-weight: 400 !important"></label>
                                                    </div>
                                                    <div
                                                        class="form-group-item info_form_email mt-0">
                                                        <label for="email"></label>

                                                        <label class="label"
                                                            for="firstname">Email
                                                            Address<small>:</small>

                                                            <span>*</span>
                                                        </label>

                                                        <input id="email"
                                                            type="email"
                                                            class="email"
                                                            name="email"
                                                            required />
                                                        <i
                                                            class="fa fa-envelope-open-text"></i>
                                                        <label id="email_error"
                                                            class="error manual-error"
                                                            for="email"
                                                            style="font-weight: 400 !important"></label>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="text-center">
                                                <button id="submitBtn"
                                                    class="btn btn_submit"
                                                    onclick="submitForm()">
                                                    Get immediate result
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box">
                                <div class="result_main">
                                    <div class="result_main_content">
                                        <div class="results_tab">
                                            <svg _ngcontent-bsy-c137
                                                xmlns="http://www.w3.org/2000/svg"
                                                enable-background="new 0 0 24 24"
                                                height="24px"
                                                viewBox="0 0 24 24"
                                                width="24px"
                                                fill="#e25656">
                                                <g _ngcontent-bsy-c137>
                                                    <rect _ngcontent-bsy-c137
                                                        fill="none" height="24"
                                                        width="24"></rect>

                                                    <g _ngcontent-bsy-c137>
                                                        <path
                                                            _ngcontent-bsy-c137
                                                            d="M19,5v14H5V5H19 M19,3H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h14c1.1,0,2-0.9,2-2V5C21,3.9,20.1,3,19,3L19,3z">
                                                        </path>
                                                    </g>

                                                    <path _ngcontent-bsy-c137
                                                        d="M14,17H7v-2h7V17z M17,13H7v-2h10V13z M17,9H7V7h10V9z"></path>
                                                </g>
                                            </svg>

                                            Results
                                        </div>

                                        <div class>
                                            <p class="result_p">Your Estimated
                                                HDB
                                                Market Price</p>
                                            <div class="result_show">
                                                <p>
                                                    For A
                                                    <strong><span
                                                            class="room_val"></span></strong>
                                                    HDB at
                                                    <strong><span
                                                            class="town_val"></span></strong>
                                                    area,
                                                    your Estimated selling price
                                                    around
                                                    <strong class="price_val">$0
                                                    </strong>
                                                </p>
                                            </div>
                                            <div class="result_details">
                                                <p class="result_p"><span
                                                        class="min_val"> 0.00</span></p>
                                                <h5>
                                                    Lowest transacted price
                                                    based on
                                                    real-time records
                                                </h5>
                                            </div>
                                            <div class="result_details">
                                                <p class="result_p"><span
                                                        class="max_val"> 0.00</span></p>
                                                <h5>
                                                    Highest transacted price
                                                    based
                                                    on real-time records
                                                </h5>
                                            </div>
                                            <div class="result_details">
                                                <a href="Thankyou.html"
                                                    class="btn btn_submit"
                                                    style="padding: 10px 40px">
                                                    CLAIM YOUR UNIT REPORT</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section></section>
            </main>

            <div id="overlayWrapper">
                <div id="overlay"></div>
            </div>

            <div>
                <div class="VistorView dark cal">
                    <div class="VistorView_icon">
                        <i class="fa fa-user-friends"></i>
                    </div>

                    <div tabindex="0" class="VistorView_text">
                        <h6>170453</h6>

                        <p>Calculated Exact Price To Sell Their HDB</p>
                    </div>
                </div>
            </div>

            <footer></footer>


            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
                crossorigin="anonymous"></script>

            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/jquery-error manual-error/1.19.5/jquery.error manual-error.min.js"></script>

            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.4.4/parsley.min.js"></script>

            <script src="/script/hbdscript.js"></script>
            <script
            src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
            integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        </body>
    </html>