<div id="Add_hbd_popup" class="close_popup " style="position: fixed; height: 90vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);z-index: 99999999; overflow: auto; width: 650px;">
            <div
                class="border-2 main_form border rounded bg-white mx-auto p-4"
                style="box-shadow: 7px 0px 24px 9px rgba(0,0,0,0.08);">
                <form id="client_id_hbd" method="post"
                    action="/api/addhbdform/">
            <span id="close_popup_btn" onclick="closeAllPopups()" style=><i class="fa-solid fa-x"></i></span>
                    <h5 class="text-center">Choose Project to Edit</h5>

              <div class="input-group mb-3 w-100">
                <select class="custom-select w-100" id="inputGroupSelect01">
                  <option selected disabled>Choose...</option>
                </select>
              </div>
              <div id="project_details_div" style="display: none;">
                <div class="form-group">
                  <label for="exampleInputEmail1">Project Name</label>
                  <input type="text" class="border border-3 p-2 form-control" id="project_name" aria-describedby="emailHelp"
                    placeholder="Enter Project Name">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">District</label>
                  <input type="text" class="border border-3 p-2 form-control" id="District_name" aria-describedby="emailHelp"
                    placeholder="Enter District">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">PDF Link</label>
                  <input type="text" class="border border-3 p-2 form-control" id="pdf_link" aria-describedby="emailHelp"
                    placeholder="Enter PDF Link">
                </div>
                <div class="text-center mt-3">
                  <button type="submit" onclick="btn_proj(this)" class="btn btn-primary">Save</button>
                </div>
              </div>
              <hr>
                <h5 class="text-center">Front Page</h5>
                <label>Discord Link</label>
                <div id="discord_hbd_field">
                  <div class="discord-input-container">
                      <input type="text" class="discord-hbd-input" name="dslink[]">
                      <button type="button" class="my-1 add-discord-input" onclick="addDiscordHbd()">Add Discord Link</button>
                  </div>
                  </div>
                  <script>
                      function addDiscordHbd() {
                      let inputContainer = document.getElementById('discord_hbd_field');
                      let newInput = document.createElement('div');
                          newInput.innerHTML ='<div class="discord-input-container">' +
                                              '    <input type="text" class="discord-hbd-input" name="dslink[]">' +
                                              '    <button type="button" class="my-1 remove-discord-input" onclick="removeDiscordHbd(this)">Remove</button>' +
                                              '</div>';
                        inputContainer.insertBefore(newInput, inputContainer.firstChild); // Insert before the last child
                      }
              
                      function removeDiscordHbd(element) {
                          let containerToRemove = element.parentNode.parentNode; // Get the grandparent of the clicked button
                          containerToRemove.parentNode.removeChild(containerToRemove);
                      }
                  </script>
                    <div class="form-group">
                        <label>Name</label>
                        <input  type="text" class="border border-3 p-2 form-control"
                            name="name"
                            id="name"
                            placeholder="Enter name" required>
                    </div>
                    <div class="form-group">
                        <label>Heading</label>
                        <textarea  class="border border-3 p-2 form-control"
                            id="first_heading" name="first_heading"
                            placeholder="Enter Heading of First Page" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea  class="border border-3 p-2 form-control"
                            id="first_description"
                            name="first_description" rows="4"
                            placeholder="Enter Description of First Page" required></textarea>
                    </div>

                    <div class="form-group">
                        <label>Background Image Link</label>
                        <input  type="text" class="border border-3 p-2 form-control"
                            name="first_img_link"
                            value=""
                            id="first_img_link"
                            placeholder="Enter Google drive link of Background" required>
                    </div>
                    <div class="form-group">
                        <label>Button Text</label>
                        <input  type="text" class="border border-3 p-2 form-control"
                            name="first_btn_text"
                            value=""
                            id="first_btn_text"
                            placeholder="Enter Button Text" required>
                    </div>
                    <hr>
                    <h5 class="text-center mt-5">Thankyou Page</h5>
                    <div class="form-group mt-4">
                        <label>Enter Heading of Thankyou Page</label>
                        <input  type="text" class="border border-3 p-2 form-control"
                            name="last_heading"
                            value=""
                            id="last_heading"
                            placeholder="Enter Heading of Thankyou Page" required>
                    </div>
                    <div class="form-group">
                        <label>Enter Sub Heading of the Thankyou
                            Page</label>
                        <textarea  class="border border-3 p-2 form-control"
                            id="last_subheading"
                            name="last_subheading" rows="2"
                            placeholder="Enter Sub Heading of the Thankyou Page" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Enter Description</label>
                        <textarea  class="border border-3 p-2 form-control"
                            id="last_description"
                            name="last_description" rows="4"
                            placeholder="Enter Description of Thankyou Page" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Enter Button Text</label>
                        <input  class="border border-3 p-2 form-control"
                            id="last_btn_text" name="last_btn_text"
                            placeholder="Enter btn text" required></input>
                    </div>
                    <div class="text-center">
                        <button type="submit"
                            class="btn btn-success mt-2">Submit</button>
                    </div>
                </form>
            </div>
<script>
     async function fetchData(params) {
      const res = await fetch("/getlocation_projects");
      const data = await res.json();
      return data
    }
    async function start() {
      const data = await fetchData();

      const select = document.getElementById("inputGroupSelect01");
      data.forEach((obj) => {
        select.innerHTML += `<option value="${obj.project
          }" >${obj.project
          }</option>`
      });
      select.addEventListener("change", () => {
        const div = document.getElementById("project_details_div");
        div.style.display = "block";
        const val = select.value;
        const obj = data.find((elem) => {
          return elem.project == val;
        })
        document.getElementById("project_name").value = obj.project;
        document.getElementById("District_name").value = obj.location;
        document.getElementById("pdf_link").value = obj.pdf;
      })
    }
    async function btn_proj(button) {
        button.innerText = "Saving....";
        event.preventDefault();
        const prev_project = document.getElementById("inputGroupSelect01").value;
        const new_project_name = document.getElementById("project_name").value
        const new_location = document.getElementById("District_name").value
        const new_pdf_link = document.getElementById("pdf_link").value
        try {
          const res = await fetch("/api/projectinfo/edit", {
            method: "POST",
            body: JSON.stringify({
              prev_project: prev_project,
              project: new_project_name,
              location: new_location,
              pdf: new_pdf_link
            }),
            headers: {
              "Content-type": "application/json; charset=UTF-8"
            }
          })
          button.innerText = "Saved";
        } catch (error) {
          console.error(error.message);
          res.redirect("/error");
        }
    }
    start();
</script>
</div>